*{
    padding: 0;
    margin: 0;

}
.body{
    background-color: rgb(0, 255, 149);
    text-align: center;
    justify-content: center;
}
.container{
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.heading{
    margin-top: 10px;
    font-weight: bold;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    background-color:rgb(165, 40, 40);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(red, green, blue, 0.8);
    font-size: 8vmin;
    color: white;
  
}
#reset-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: rgb(117, 16, 233);
    border: none;
    border-radius: 20px;
    color: white;
    
}
#reset-btn:hover{
    border: 2px solid black;
    transform: rotate(360 deg);
    font-weight: bold;
}
#new-btn{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: rgb(78, 9, 236);
    border: none;
    border-radius: 20px;
    color: white;
}
.msg-container{
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
/* .hide{
    display: ;
} */
#msg{
    color: #000;
    font-size: 4vmin;
}